<%- include ./layouts/head.ejs %>
<%- include ./layouts/header.ejs %>
<body>
    <main>
    <div class="carrito">
        <h2>Carrito de compras</h2>
        <div class="carrito-productos">
            <% if (productos.length > 0) { %>
                <% var total = 0; %>
                <% for (var i = 0; i < productos.length; i++) { %>
                    <div class="mini-tarjeta">
                        <div class="mini-tarjeta-imagen">
                            <img src="../../images/<%= productos[i].imagen %>" alt="Imagen de <%= productos[i].nombre %>">
                        </div>
                        <div class="mini-tarjeta-detalles">
                            <h3 class="mini-tarjeta-nombre"><%= productos[i].nombre %></h3>
                            <p class="mini-tarjeta-precio">$<%= productos[i].precio %></p>
                            <form action="/productos/carrito/eliminar/<%= productos[i].id %>" method="post">
                                <input type="hidden" name="_method" value="delete">
                                <button type="submit" class="quitar-carrito">Quitar del carrito</button>
                            </form>
                        </div>
                    </div>
                    <% total += productos[i].precio; %>
                <% } %>
                <div class="tarjeta-grande">
                    <h3>Artículos en el carrito:</h3>
                    <div class="mini-tarjetas">
                        <% for (var i = 0; i < productos.length; i++) { %>
                            <div class="mini-tarjeta">
                                <div class="mini-tarjeta-imagen">
                                    <img src="../../images/<%= productos[i].imagen %>" alt="Imagen de <%= productos[i].nombre %>">
                                </div>
                                <div class="mini-tarjeta-detalles">
                                    <h3 class="mini-tarjeta-nombre"><%= productos[i].nombre %></h3>
                                    <p class="mini-tarjeta-precio">$<%= productos[i].precio %></p>
                                </div>
                            </div>
                        <% } %>
                    </div>
                    <div class="total">
                        <h3>Total:</h3>
                        <p class="total-precio">$<%= total %></p>
                    </div>
                </div>
            <% } else { %>
                <p>No hay artículos en el carrito</p>
            <% } %>
        </div>
    </div>
   </main>
    <%- include ./layouts/footer.ejs %> 

</body>
</html>