<%- include ./layouts/head.ejs %>
<%- include ./layouts/header.ejs %>
<body>
    <main>
        <div class="carrito">
            <h2>Tu Carrito</h2>
            <div class="carrito-contenedor">
                <div class="carrito-productos">   
                    <% if (productos.length > 0) { %>
                        <div class="tarjeta-productos">
                            <div class="mini-tarjetas">
                                <% for (var i = 0; i < productos.length; i++) { %>
                                    <div class="mini-tarjeta" id="producto-<%= productos[i].id %>"> 
                                        <h3>Artículos en el carrito</h3>
                                        <div class="mini-tarjeta-imagen">
                                            <img src="../../images/<%= productos[i].imagen %>" alt="Imagen de <%= productos[i].nombre %>">
                                        </div>
                                        <div class="mini-tarjeta-detalles">
                                            <h4 class="mini-tarjeta-nombre"><%= productos[i].nombre %></h4>
                                            <p class="mini-tarjeta-precio" id="precio-<%= productos[i].id %>">$<%= productos[i].precio %></p>
                                            <div class="mini-tarjeta-cantidad">
                                                <form action="/productos/carrito/actualizar/<%= productos[i].id %>" method="post">
                                                    <label for="cantidad-<%= productos[i].id %>">Cantidad:</label>
                                                    <div class="input-group-qty" style="display: flex; align-items: center;">
                                                        <input type="text" id="cantidad-<%= productos[i].id %>" name="cantidad" value="<%= productos[i].cantidad %>" class="form-control input-cart-qty" size="1" data-maxval="10" onkeyup="actualizarCantidad('<%= productos[i].id %>')">
                                                        <div class="qty-btns" style="display: flex; flex-direction: column; justify-content: center;">
                                                            <button class="btn btn-qty qty-top" onclick="mas('<%= productos[i].id %>');return false;" type="button">
                                                                <i class="fa fa-angle-up" aria-hidden="true"></i>
                                                            </button>
                                                            <button class="btn btn-qty qty-bottom" onclick="menos('<%= productos[i].id %>');return false;" type="button">
                                                                <i class="fa fa-angle-down" aria-hidden="true"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    
                                                </form>
                                            
                                                <form action="/productos/carrito/eliminar/<%= productos[i].id %>" method="post">                  
                                                    <button type="submit" class="quitar-carrito">
                                                        <i class="fa fa-trash"></i>
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                <% } %>
                            </div>
                        </div>
</div>

                <div class="tarjeta-total">
                    <h3>Subtotal</h3>
                    <table>
                        <thead>
                            <tr>
                                <th>Producto</th>
                                <th>Cantidad</th>
                                <th>Precio</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% var totalCantidad = 0; var totalPrecio = 0; %>
                            <% for (var i = 0; i < productos.length; i++) { %>
                                <% totalCantidad += productos[i].cantidad; totalPrecio += productos[i].precio * productos[i].cantidad; %>
                                <tr id="fila-<%= productos[i].id %>">
                                    <td><%= productos[i].nombre %></td>
                                    <td id="cantidad-tabla-<%= productos[i].id %>"><%= productos[i].cantidad %></td>
                                    <td id="subtotal-<%= productos[i].id %>">$<%= productos[i].precio * productos[i].cantidad %></td>
                                </tr>
                            <% } %>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td>Total de productos:</td>
                                <td><%= totalCantidad %></td>
                                <td></td>
                            </tr>
                            <tr>     
                                <td colspan="2">Total:</td>
                                <td id="total">$<%= totalPrecio.toFixed(2) %></td>
                            </tr>
                        </tfoot>
                    </table>
                    <div class="botones">
                        <form>
                            <button class="boton-continuar-compra" type="button">Continuar Compra</button>
                        </form>
                        <form action="/productos/carrito/vaciar" method="POST">
                            <button class="boton-vaciar" type="submit">Vaciar Carrito</button>
                        </form>
                    </div>
                    </div>
                </div>             
                <% } else { %>
                    <div class="vacio">
                        <p>No hay artículos en el carrito</p>
                    </div>
                <% } %>
            </div>
        
        
    </main>
    <%- include ./layouts/footer.ejs %>
    <script src="/js/carrito.js"></script>
</body>
</html>  