<%- include ./layouts/head.ejs %>
<%- include ./layouts/header.ejs %>

<body>
<main class="carrito-container">
    <h1 class="carrito-titulo">🛍️ Mi Carrito de Compras</h1>

    <div id="carrito-productos" class="carrito-productos">
        <% if (productos.length > 0) { %>
            <table class="tabla-carrito">
                <thead>
                    <tr>
                        <th class="columna-producto">Producto</th>
                        <th class="columna-cantidad">Cantidad</th>
                        <th class="columna-precio">Precio</th>
                        <th class="columna-total">Total</th>
                    </tr>
                </thead>
                <tbody>
                    <% productos.forEach(function(producto) { %>
                        <tr class="fila-producto">
                            <td class="producto-nombre"><%= producto.nombre %></td>
                            <td class="producto-cantidad"><%= producto.cantidad %></td>
                            <td class="producto-precio">$<%= producto.precio.toFixed(2) %></td>
                            <td class="producto-total">$<%= producto.total.toFixed(2) %></td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        <% } else { %>
            <p class="carrito-vacio">🛒 No tienes productos en tu carrito.</p>
        <% } %>
    </div>

    <% if (productos.length > 0) { %>
      <div id="finalizar-compra" class="finalizar-compra">
          <a href="/carrito/finalizar" class="btn-finalizar">Finalizar Compra</a>
      </div>
    <% } %>

</main>
<%- include ./layouts/footer.ejs %>
</body>
