<%- include ./layouts/head.ejs %>
<%- include ./layouts/header.ejs %>

<body>
    <main>
<div class="container-crear"> 
    <div class="contenido-crear">

        <div class="titulo-crear">
        Crear Producto
        </div>

        <div class="card-body">
            <form method="POST" action="/productos" enctype="multipart/form-data">

                <div class="form-group-crear">
                    <label for="imagen">Imagen</label>
                    <input id="imagen" class="form-control-file" type="file" name="archivo">
                </div>
                
                <div class="form-group-crear">
                <label for="nombre">Nombre:</label>   
                <input id="nombre" class="form-control" type="text" name="nombre">
                </div>

                <div class="form-group-crear">
                    <label for="codigo">Código:</label>
                    <input id="codigo" class="form-control" type="text" name="codigo">
                </div>

                <div class="form-group-crear">
                <label for="descripcion">Descripcion:</label>
                <input id="descripcion" class="form-control" type="text" name="descripcion">
                </div>
                <div class="form-group-crear">
                    <label for="oferta">Oferta:</label>
                    <input id="oferta" type="checkbox" name="oferta">
                </div>
                <div class="form-group-crear">
                  <label for="categoria">Categoria</label>
                  <select id="categoria" name="categoria">
                      <option value="" selected>Selecciona una categoría...</option>
                      <% categorias.forEach(function(categoria) { %>
                          <option value="<%= categoria.nombre %>"><%= categoria.nombre %></option>
                      <% }); %>
                  </select>
              </div>

              <div class="form-group-crear">
                <label for="proveedores">Proveedores:</label>
                <select id="proveedores" name="proveedores" multiple>
                  <% proveedores.forEach(function(proveedor) { %>
                    <option value="<%= proveedor.id %>"><%= proveedor.nombre %></option>
                  <% }); %>
                </select>
              </div>

              <div class="form-group-crear">
                <label for="marca">Marca:</label>
                <select id="marca" name="marca">
                    <option value="" selected>Selecciona una marca...</option> 
                    <% marcas.forEach(function(marca) { %>
                        <option value="<%= marca.id %>"><%= marca.nombre %></option>
                    <% }); %>
                </select>
            </div>
                  
                  <div class="form-group-crear">
                    <label for="modelo_id">Modelo:</label>
                    <select id="modelo_id" name="modelo_id">
                      <option value="" <% if (!producto || !producto.modelo_id) { %>selected<% } %>>Selecciona un modelo...</option>
                        <% if (Array.isArray(modelosPorMarca)) { %>
                            <% modelosPorMarca.forEach(function(modelo) { %>
                                <option value="<%= modelo.id %>" <% if (producto.modelo_id == modelo.id) { %>selected<% } %>><%= modelo.nombre %></option>
                            <% }); %>
                        <% } %>
                    </select>
                </div>

                <div id="precios">
                    <!-- Los campos de entrada para los precios se generarán dinámicamente aquí -->
                  </div>
    
                <div class="botones-crear">
                <button class="btn btn-success" type="submit">Guardar</button>
                <a class='btn btn-primary'href="/productos">Cancelar</a>
                </div>
            </form>

    </div>
    </div>
    </div>
</main>
    <%- include ./layouts/footer.ejs %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
      // Escucha el evento de cambio en el selector de marca
      document.getElementById('marca').addEventListener('change', function() {
          console.log('Cambio detectado en el selector de marca.');
      
          // Obtiene el ID de la marca seleccionada
          var marcaId = this.value;
      
          // Hace una solicitud AJAX para obtener los modelos para la marca seleccionada
          $.ajax({
              url: '/productos/modelos/' + marcaId, 
              method: 'GET',
              success: function(data) {
                  console.log('Modelos para la marca seleccionada:', data);
      
                  // Obtiene el selector de modelo
                  var selectModelo = document.getElementById('modelo_id'); // Cambiado aquí
      
                  // Limpia el selector de modelo
                  selectModelo.innerHTML = "";
                  console.log('Selector de modelo limpiado.');
      
                  // Llena el selector de modelo con los modelos de la marca seleccionada
                  for (var i = 0; i < data.length; i++) {
                      var option = document.createElement('option');
                      option.value = data[i].id;
                      option.text = data[i].nombre;
                      selectModelo.appendChild(option);
                      console.log('Agregado modelo al selector:', data[i].nombre);
                  }
              },
              error: function(jqXHR, textStatus, errorThrown) {
                  console.error('Error al obtener los modelos:', textStatus, errorThrown);
                  alert('Hubo un problema al obtener los modelos para la marca seleccionada. Por favor, inténtalo de nuevo.');
              }
          });
      });
        // Escucha el evento de cambio en el selector de proveedores
  document.getElementById('proveedores').addEventListener('change', function() {
    // Obtiene los proveedores seleccionados
    var proveedoresSeleccionados = Array.from(this.selectedOptions).map(function(option) {
      return { id: option.value, nombre: option.text };
    });

    // Obtiene el contenedor de precios
    var contenedorPrecios = document.getElementById('precios');

    // Limpia el contenedor de precios
    contenedorPrecios.innerHTML = "";

    // Para cada proveedor seleccionado, genera un campo de entrada para el precio
    proveedoresSeleccionados.forEach(function(proveedor) {
      var div = document.createElement('div');
      div.className = "form-group-crear";

      var label = document.createElement('label');
      label.for = "precio_" + proveedor.id;
      label.textContent = "Precio para " + proveedor.nombre + ":";
      var input = document.createElement('input');
      input.id = "precio_" + proveedor.id;
      input.className = "form-control";
      input.type = "number";
      input.step = "0.01";
      input.name = "precio_" + proveedor.id;

      div.appendChild(label);
      div.appendChild(input);

      contenedorPrecios.appendChild(div);
    });
  });
      </script>
</body>


