<%- include ./layouts/head.ejs %>
<%- include ./layouts/header.ejs %>

<body>
    <main>
<div class="container-crear"> 
    <div class="contenido-crear">

        <div class="titulo-crear">
        Crear Producto
        </div>

        <div class="card-body">
            <form method="POST" action="/productos" enctype="multipart/form-data">

                <div class="form-group-crear">
                    <label for="imagen">Imagen</label>
                    <input id="imagen" class="form-control-file" type="file" name="archivo">
                </div>
                
                <div class="form-group-crear">
                <label for="nombre">Nombre:</label>   
                <input id="nombre" class="form-control" type="text" name="nombre">
                </div>

                <div class="form-group-crear">
                    <label for="codigo">Código:</label>
                    <input id="codigo" class="form-control" type="text" name="codigo">
                </div>

                <div class="form-group-crear">
                <label for="descripcion">Descripcion:</label>
                <input id="descripcion" class="form-control" type="text" name="descripcion">
                </div>
                <div class="form-group-crear">
                    <label for="oferta">Oferta:</label>
                    <input id="oferta" type="checkbox" name="oferta">
                </div>
                <div class="form-group-crear">
                  <label for="categoria">Categoria</label>
                  <select id="categoria" name="categoria">
                      <option value="" selected>Selecciona una categoría...</option>
                      <% categorias.forEach(function(categoria) { %>
                          <option value="<%= categoria.nombre %>"><%= categoria.nombre %></option>
                      <% }); %>
                  </select>
              </div>

              <div class="form-group-crear">
                <label for="proveedor">Proveedor:</label>
                <select id="proveedor" name="proveedor">
                  <option value="" selected>Selecciona un proveedor...</option>
                  <% proveedores.forEach(function(proveedor) { %>
                    <option value="<%= proveedor.id %>"><%= proveedor.nombre %></option>
                  <% }); %>
                </select>
              </div>

                  <div class="form-group-crear">
                    <label for="marca">Marca:</label>
                    <select id="marca" name="marca">
                      <% marcas.forEach(function(marca) { %>
                        <option value="<%= marca.id %>"><%= marca.nombre %></option>
                      <% }); %>
                    </select>
                  </div>
                  
                  <div class="form-group-crear">
                    <label for="modelo_id">Modelo:</label>
                    <select id="modelo_id" name="modelo_id">
                        <option value="" <% if (!producto.modelo_id) { %>selected<% } %>>Selecciona un modelo...</option>
                        <% modelos.forEach(function(modelo) { %>
                            <option value="<%= modelo.id %>" <% if (producto.modelo_id == modelo.id) { %>selected<% } %>><%= modelo.nombre %></option>
                        <% }); %>
                    </select>
                </div>

                <div class="form-group-crear">
                    <label for="precio">Precio:</label>
                    <input id="precio" class="form-control" type="number" step="0.01" name="precio">
                </div>
    
                <div class="botones-crear">
                <button class="btn btn-success" type="submit">Guardar</button>
                <a class='btn btn-primary'href="/productos">Cancelar</a>
                </div>
            </form>

    </div>
    </div>
    </div>
</main>
    <%- include ./layouts/footer.ejs %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        // Función para llenar los modelos basándose en la marca seleccionada
        function llenarModelos(marcaId, modeloId) {
          $.ajax({
            url: '/productos/modelos/' + marcaId, 
            method: 'GET',
            success: function(data) {
                console.log('Data:', data);
                $('#modelo').empty();
                $('#modelo').append('<option value="" selected>Selecciona un modelo...</option>');
                data.forEach(function(modelo) {
                    var option = $('<option></option>').attr('value', modelo.id).text(modelo.nombre);
                    if (modelo.id == modeloId) {
                        option.attr('selected', 'selected');
                    }
                    $('#modelo').append(option);
                });
            },
            error: function(jqXHR, textStatus, errorThrown) {
                console.error('Error al obtener los modelos:', textStatus, errorThrown);
                alert('Hubo un problema al obtener los modelos para la marca seleccionada. Por favor, inténtalo de nuevo.');
            }
          });
        }
        
        // Cuando la marca cambia, llenar los modelos
        $('#marca_id').change(function() {
          var marcaId = $(this).val(); 
          llenarModelos(marcaId);
        });
        
        // Al cargar la página, si hay una marca seleccionada, llenar los modelos
        $(document).ready(function() {
          var marcaId = $('#marca_id').val();
          if (marcaId) {
            var modeloId = '<%= producto.modelo_id %>'; // Obtén el ID del modelo del producto que estás editando
            llenarModelos(marcaId, modeloId);
          }
        });
        </script>
</body>



