<%- include('./layouts/head.ejs') %>
<%- include('./layouts/header.ejs') %>
<body>
    <main>
        <h2>Detalle de la Factura ID: <%= factura.id %></h2>
        <p>Proveedor: <%= factura.nombre_proveedor %></p>
        <p>Fecha de Factura: <%= factura.fecha %></p>
        <p>Número de Factura: <%= factura.numero_factura %></p>
        <p>Fecha de Pago: <%= factura.fecha_pago %></p>
        <p>Importe: <%= factura.importe %></p>
        <p>Condición: <%= factura.condicion %></p>

        <h3>Productos en la Factura</h3>
        <table>
            <thead>
                <tr>
                    <th>Nombre del Producto</th>
                    <th>Cantidad</th>
                    <th>Precio Unitario</th>
                    <th>Subtotal</th>
                </tr>
            </thead>
            <tbody>
                <% productos.forEach(function(producto) { %>
                    <tr>
                        <td><%= producto.nombre_producto %></td>
                        <td><%= producto.cantidad %></td>
                        <td><%= producto.precio_unitario %></td>
                        <td><%= producto.cantidad * producto.precio_unitario %></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
        <button onclick="history.back()">Volver</button>
    </main>
</body>
<%- include('./layouts/footer.ejs') %>
