<%- include ./layouts/head.ejs %>
<%- include ./layouts/header.ejs %>
<body>
    <main>
 <div class="container-editar">
    <div class="contenido-editar">
        <div class="editar-titulo">
            Editar Producto
        </div>
        <form method="POST" action="/productos/actualizar/<%= producto.id %>" enctype="multipart/form-data">
        <label for="id-input">ID</label>
        <input id="id-input" type="text" name="id" value="<%= producto.id %>">
        <div class="form-group-crear">
            <label for="my-input">Imagen</label>
            <input id="my-input" class="form-control-file" type="file" name="archivo">
        </div>
        <div class="form-group-crear">
            <label for="nombre-input">Nombre</label>
            <input id="nombre-input" value="<%= producto.nombre %>" class="form-control" type="text" name="nombre">
        </div>
        <div class="form-group-crear">
            <label for="descripcion-input">Descripcion</label>
            <input id="descripcion-input" class="form-control" value="<%= producto.descripcion %>" type="text" name="descripcion">
        </div>
        <div class="form-group-crear">
            <label for="codigo-input">Código</label>
            <input id="codigo-input" value="<%= producto.codigo %>" class="form-control" type="text" name="codigo">
        </div>
        <div class="form-group-crear">
            <label for="categoria_id">Categoria</label>
            <select id="categoria_id" name="categoria_id">
                <option value="" <% if (!producto.categoria_id) { %>selected<% } %>>Selecciona una categoría...</option>
                <% categorias.forEach(function(categoria) { %>
                    <option value="<%= categoria.id %>" <% if (producto.categoria_id == categoria.id) { %>selected<% } %>><%= categoria.nombre %></option>
                <% }); %>
            </select>
        </div>
        <div class="form-group-crear">
            <label for="proveedor_id">Proveedor:</label>
            <select id="proveedor_id" name="proveedor_id">
                <option value="" <% if (!producto.proveedor_id) { %>selected<% } %>>Selecciona un proveedor...</option>
                <% proveedores.forEach(function(proveedor) { %>
                    <option value="<%= proveedor.id %>" <% if (producto.proveedor_id == proveedor.id) { %>selected<% } %>><%= proveedor.nombre %></option>
                <% }); %>
            </select>
        </div>
        <div class="form-group-crear">
            <label for="marca_id">Marca:</label>
            <select id="marca_id" name="marca_id">
                <% marcas.forEach(function(marca) { %>
                    <option value="<%= marca.id %>" <% if (producto.marca_id == marca.id) { %>selected<% } %>><%= marca.nombre %></option>
                <% }); %>
            </select>
        </div>
              <div class="form-group-crear">
                <label for="modelo">Modelo:</label>
                <select id="modelo" name="modelo">
                  <option value="" selected>Selecciona un modelo...</option>
                  <!-- Los modelos se llenarán dinámicamente con JavaScript -->
                </select>
              </div>
        <div class="form-group-crear">
            <label for="precio-input">Precio</label>
            <input id="precio-input" class="form-control" value="<%= producto.precio %>" type="text" name="precio">
        </div>
        <div class="botones-editar">
        <button class="btn btn-success" type="submit">Guardar</button>
        <a class='btn btn-primary'href="/productos">Cancelar</a>
        </div>
    </form>
    </div>
</div>
</main>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    // Función para llenar los modelos basándose en la marca seleccionada
    function llenarModelos(marcaId, modeloId) {
      $.ajax({
        url: '/productos/modelos/' + marcaId, 
        method: 'GET',
        success: function(data) {
            console.log('Data:', data);
            $('#modelo').empty();
            $('#modelo').append('<option value="" selected>Selecciona un modelo...</option>');
            data.forEach(function(modelo) {
                var option = $('<option></option>').attr('value', modelo.id).text(modelo.nombre);
                if (modelo.id == modeloId) {
                    option.attr('selected', 'selected');
                }
                $('#modelo').append(option);
            });
        },
        error: function(jqXHR, textStatus, errorThrown) {
            console.error('Error al obtener los modelos:', textStatus, errorThrown);
            alert('Hubo un problema al obtener los modelos para la marca seleccionada. Por favor, inténtalo de nuevo.');
        }
      });
    }
    
    // Cuando la marca cambia, llenar los modelos
    $('#marca_id').change(function() {
      var marcaId = $(this).val(); 
      llenarModelos(marcaId);
    });
    
    // Al cargar la página, si hay una marca seleccionada, llenar los modelos
    $(document).ready(function() {
      var marcaId = $('#marca_id').val();
      if (marcaId) {
        var modeloId = '<%= producto.modelo_id %>'; // Obtén el ID del modelo del producto que estás editando
        llenarModelos(marcaId, modeloId);
      }
    });
    </script>
<%- include ./layouts/footer.ejs %>
</body>


