<%- include ./layouts/head.ejs %>
<%- include ./layouts/header.ejs %>
<body>
    <main>
 <div class="container-editar">
    <div class="contenido-editar">
        <div class="editar-titulo">
            Editar Producto
        </div>

    <form method="post" action="../actualizar/" enctype="multipart/form-data">
        <label for="id-input">ID</label>
        <input id="id-input" type="text" name="id" value="<%= producto.id %>">

        <div class="form-group-crear">
            <label for="my-input">Imagen</label>
            <input id="my-input" class="form-control-file" type="file" name="archivo">
        </div>

        <div class="form-group-crear">
            <label for="nombre-input">Nombre</label>
            <input id="nombre-input" value="<%= producto.nombre %>" class="form-control" type="text" name="nombre">
        </div>
        <div class="form-group-crear">
            <label for="descripcion-input">Descripcion</label>
            <input id="descripcion-input" class="form-control" value="<%= producto.descripcion %>" type="text" name="descripcion">
        </div>
        <div class="form-group-crear">
            <label for="codigo-input">Código</label>
            <input id="codigo-input" value="<%= producto.codigo %>" class="form-control" type="text" name="codigo">
        </div>
        <div class="form-group-crear">
            <label for="categoria-input">Categoria</label>
            <select id="categoria-input" name="categoria">
                <% var opciones = ["FAROS TRASEROS", "FAROS DELANTEROS", "OPTICAS", "FAROS LED", "FAROS CAMIONES","LAMPARAS","FAROS CAMIONES","LINEA UNIVERSAL"]; %>
                <% for(var i = 0; i < opciones.length; i++) { %>
                    <option value='<%= opciones[i] %>' <%= producto.categoria == opciones[i] ? 'selected' : '' %>><%= opciones[i] %></option>
                <% } %>
            </select>
        </div>
        <div class="form-group-crear">
            <label for="proveedor-input">Proveedor</label>
            <select id="proveedor-input" name="proveedor">
                <% var opciones = ["LAM", "LIDERCAR", "DISTRILED","FAL", "JR", "MYL", "DM", "DAM"]; %>
                <% for(var i = 0; i < opciones.length; i++) { %>
                    <option value='<%= opciones[i] %>' <%= producto.categoria == opciones[i] ? 'selected' : '' %>><%= opciones[i] %></option>
                <% } %>
            </select>
        </div>
        <div class="form-group-crear">
            <label for="marca-input">Marca</label>
            <select id="marca-input" name="marca">
                <% var opciones = ["FIAT", "RENAULT", "FORD", "VOLKSWAGEN","CITROEN","CHEVROLET","PEUGEOT","TOYOTA","MERCEDES BENZ","UNIVERSAL"]; %> 
                <% for(var i = 0; i < opciones.length; i++) { %>
                    <option value='<%= opciones[i] %>' <%= producto.marca == opciones[i] ? 'selected' : '' %>><%= opciones[i] %></option>
                <% } %>
            </select>
        </div>
        <div class="form-group-crear">
            <label for="modelo-input">Modelo</label>
            <select id="modelo-input" name="modelo" data-modelo="<%= producto.modelo %>">
                <option value="" selected>Selecciona un modelo...</option>
                <!-- Los modelos se llenarán dinámicamente con JavaScript -->
            </select>
        </div>
        <div class="form-group-crear">
            <label for="precio-input">Precio</label>
            <input id="precio-input" class="form-control" value="<%= producto.precio %>" type="text" name="precio">
        </div>
        <div class="botones-editar">
        <button class="btn btn-success" type="submit">Guardar</button>
        <a class='btn btn-primary'href="/productos">Cancelar</a>
        </div>
    </form>
    </div>
</div>
</main>
<script src="/js/index.js"></script> 
<script src="/js/datos.js"></script> 
<script src="/js/editar.js"></script> 

<%- include ./layouts/footer.ejs %>
</body>


