<%- include ./layouts/head.ejs %>
<%- include ./layouts/header.ejs %>
<body>
    <main>
        <div class="tarjeta-total">
            <h3>Subtotal</h3>
            <table>
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Precio</th>
                    </tr>
                </thead>
                <tbody>
                    <% var totalCantidad = 0; var totalPrecio = 0; %>
                    <% for (var i = 0; i < productos.length; i++) { %>
                        <% totalCantidad += productos[i].cantidad; totalPrecio += productos[i].precio * productos[i].cantidad; %>
                        <tr id="fila-<%= productos[i].id %>">
                            <td><%= productos[i].nombre %></td>
                            <td id="cantidad-tabla-<%= productos[i].id %>"><%= productos[i].cantidad %></td>
                            <td id="subtotal-<%= productos[i].id %>">$<%= productos[i].precio * productos[i].cantidad %></td>
                        </tr>
                    <% } %>
                </tbody>
                <tfoot>
                    <tr>
                        <td>Total de productos:</td>
                        <td><%= totalCantidad %></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="2">Total:</td>
                        <td id="total">$<%= totalPrecio.toFixed(2) %></td>
                    </tr>
                </tfoot>
            </table>
            <div class="botones">
                <form action="/productos/envios" method="GET">
                    <button class="boton-continuar-compra" type="submit">Continuar Compra</button>
                </form>
                
                <button class="boton-vaciar">Vaciar Carrito</button>
            </div>
        </div>
    </main>
    <%- include ./layouts/footer.ejs %>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-7CZ53J6STJ');
</script>
</body>
</html>  