<%- include ./layouts/head.ejs %>
<%- include ./layouts/header.ejs %>
<body class="body-login">
<main>
  <ul>
    <% estadisticas.forEach(function(estadistica) { %>
      <li><%= estadistica.producto_id %>: <%= estadistica.cantidad %></li>
    <% }); %>
  </ul>
</main>
<%- include ./layouts/footer.ejs %>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-7CZ53J6STJ');
</script>
</body>