
<%- include ./layouts/head.ejs %>
<%- include ./layouts/header.ejs %>
<body>
  <main>
    <div class="botones-administrador">
        <a href="/administracion/listadoFacturas" class="btn">Ver Facturas</a>
        <button id="mostrarFormulario" class="btn">Cargar Facturas</button>
    </div>

    <div id="fondoOscuro" style="display: none;">
        <form id="formularioFacturas" action="/administracion/facturas" method="POST" enctype="multipart/form-data">
            <div class="facturas-contenedor">
                <!-- Campos de la factura -->
                <label for="id_proveedor">Proveedor:</label>
                <select id="id_proveedor" name="id_proveedor">
                    <% proveedores.forEach(function(proveedor) { %>
                        <option value="<%= proveedor.id %>"><%= proveedor.nombre %></option>
                    <% }); %>
                </select>
                <label for="fecha">Fecha De Factura:</label>
                <input type="date" id="fecha" name="fecha">

                <label for="numero_factura">Número de Factura:</label>
                <input type="text" id="numero_factura" name="numero_factura">

                <label for="fecha_pago">Fecha de Pago:</label>
                <input type="date" id="fecha_pago" name="fecha_pago">

                <label for="importe">Importe:</label>
                <input type="number" id="importe" name="importe" step="0.01">

                <label for="comprobante_pago">Comprobante de Pago:</label>
                <input type="file" id="comprobante_pago" name="comprobante_pago">

                <label for="condicion">Condición:</label>
                <select id="condicion" name="condicion">
                    <option value="pagado">Pagado</option>
                    <option value="pendiente">Pendiente</option>
                </select>

                <!-- Contenedor de búsqueda y tabla -->
                <div class="contenedor-buscador-facturas">
                    <div class="buscador">
                        <input type="text" id="entradaBusqueda" name="searchInput" placeholder="Qué estás buscando?" autocomplete="off">
                        <div id="resultadosBusqueda"></div>
                    </div>

                    <div id="invoice-items">
                        <table id="tabla-factura">
                            <thead>
                                <tr>
                                    <th>Código</th>
                                    <th>Descripción</th>
                                    <th>Cantidad</th>
                                    <th>Eliminar</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>

                <input type="hidden" id="invoiceItems" name="invoiceItems">
                <button id="guardarFactura" type="submit">Guardar Factura</button>
                <button type="button" id="cerrarFormulario">Cerrar</button>
            </div>
        </form>
    </div>
</main>


      <%- include ./layouts/footer.ejs %>
      <script src="/js/facturasAdministracion.js"></script> 
      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  </body>
 
