
<%- include ./layouts/head.ejs %>
<%- include ./layouts/header.ejs %>
<body>
  <main>
    <div class="botones-administrador">
      <a href="/administracion/listadoFacturas" class="btn">Ver Facturas</a>
      <button id="mostrarFormulario" class="btn">Cargar Facturas</button>
    </div>
    
    <div id="fondoOscuro" style="display: none;"></div>
    <form id="formularioFacturas" action="/administracion/facturas" method="POST" enctype="multipart/form-data" style="display: none;">
      <div class="facturas-contenedor">
    <label for="id_proveedor">Proveedor:</label>
      <select id="id_proveedor" name="id_proveedor">
        <% proveedores.forEach(function(proveedor) { %>
          <option value="<%= proveedor.id %>"><%= proveedor.nombre %></option>
        <% }); %>
      </select>
  
      <label for="fecha">Fecha De Factura:</label>
      <input type="date" id="fecha" name="fecha">
  
      <label for="numero_factura">Número de Factura:</label>
      <input type="text" id="numero_factura" name="numero_factura">
  
      <label for="fecha_pago">Fecha de Pago:</label>
      <input type="date" id="fecha_pago" name="fecha_pago">
  
      <label for="importe">Importe:</label>
      <input type="number" id="importe" name="importe" step="0.01">

      <label for="comprobante_pago">Comprobante de Pago:</label>
      <input type="file" id="comprobante_pago" name="comprobante_pago">
  
      <label for="condicion">Condición:</label>
      <select id="condicion" name="condicion">
        <option value="pagado">Pagado</option>
        <option value="pendiente">Pendiente</option>
      </select>
      <div class="btn-facturas-guardar">
        <button type="submit">Guardar</button>
      <button type="reset">Cancelar</button>
      </div>
      
      </div>
      
    </form>
  </main>
      <%- include ./layouts/footer.ejs %>
      <script src="/js/facturas.js"></script> 
  </body>
 
