<%- include ./layouts/head.ejs %>
<%- include ./layouts/header.ejs %>
<body class="body-login">
    <div class="container">
        <h2>Restablecer contraseña</h2>
        <% if (message) { %>
            <div class="alert alert-success"><%= message %></div>
        <% } %>
        <% if (error) { %>
            <div class="alert alert-danger"><%= error %></div>
        <% } %>
        <form action="/forgot-password" method="post">
            <div class="form-group">
                <label for="email">Correo electrónico:</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <button type="submit" class="btn btn-primary">Restablecer contraseña</button>
        </form>
    </div>
    <%- include ./layouts/footer.ejs %>
</body>