<%- include ./layouts/head.ejs %>
<%- include ./layouts/header.ejs %>
  <body class="body-index">
    <main >
    <div class="peliculas-recomendadas contenedor">
      
      <div class="contenedor-principal">
        <button role="button" id="flecha-izquierda" class="flecha-izquierda"><i class="fa-solid fa-angle-left"></i></button>      
        <div class="contenedor-carrousel">
          <div class="carrousel">           
            <div class="pelicula">            
              <a href="/productos?categoria=4"><img class="imagen-carrusel" data-categoria="FAROS TRASEROS" src="images/8.webp" alt=""></a>
              <div class="tarjeta-texto"> 
                <p>FAROS TRASEROS</p>
              </div>
            </div>
            <div class="pelicula">
              <a href="/productos?categoria=1"><img class="imagen-carrusel"  data-categoria="OPTICAS"src="images/9.webp" alt=""></a>
              <div class="tarjeta-texto"> 
                <p>OPTICAS</p>
              </div>
            </div>
            <div class="pelicula">
              <a href="/productos?categoria=5"><img class="imagen-carrusel"  data-categoria="FAROS LED"src="images/10.webp" alt=""></a>
              <div class="tarjeta-texto"> 
                <p>FAROS LED</p>
              </div>
            </div>
            <div class="pelicula">
              <a href="/productos?categoria=2"><img class="imagen-carrusel" data-categoria="LAMPARAS" src="images/11.webp" alt=""></a>
              <div class="tarjeta-texto"> 
                <p>LAMPARAS</p>
              </div>
            </div>
            <div class="pelicula">
              <a href="/productos?categoria=12"><img class="imagen-carrusel" data-categoria="UNIVERSAL" src="images/12.webp" alt=""></a>
              <div class="tarjeta-texto"> 
                <p>LINEA UNIVERSAL</p>
              </div>
            </div>
            <div class="pelicula">
              <a href="/productos?categoria=13><img class="imagen-carrusel" data-categoria="FAROS CAMIONES" src="images/13.webp" alt=""></a>
              <div class="tarjeta-texto"> 
                <p>LINEA CAMIONES</p>
              </div>
            </div>          
        </div>
        <button role="button" id="flecha-derecha" class="flecha-derecha"><i class="fa-solid fa-angle-right"></i></button>
      </div>
    </div>   
    <div class="ultimos-productos contenedor">
      <h2>Últimos productos agregados</h2>
      <div class="contenedor-productos">
          <% productos.forEach(function(producto) { %>
              <div class="card card-ultimos">
                <div class="cover__card">
                  <img src="../../images/<%= producto.imagen %>" alt="<%= producto.nombre %>">
                </div>
                <div class="titulo-producto">
                  <h3 class="nombre"><%= producto.nombre %></h3>
                </div>
                <hr>
                <div class="precio-producto">
                  <p class="precio"><%= new Intl.NumberFormat('es-CL', { style: 'currency', currency: 'CLP' }).format(producto.precio) %></p>
              </div>
              </div>
          <% }); %>
      </div>
    </div>
    </main> 
    
    <%- include ./layouts/footer.ejs %>
    <script src="js/index.js"></script> 
</body>

</html>