<%- include ./layouts/head.ejs %>
<%- include ./layouts/header.ejs %>
<body>
    <main>
        <form id="filterForm">
            <label for="proveedor">Proveedor:</label>
<select id="proveedor" name="proveedor">
    <option value="">Selecciona un proveedor</option>
    <% proveedores.forEach(function(proveedor) { %>
        <option value="<%= proveedor.id %>"><%= proveedor.nombre %></option>
    <% }); %>
</select>

            <label for="fechaFactura">Fecha de Factura:</label>
            <input type="date" id="fechaFactura" name="fechaFactura">

            <label for="fechaPago">Fecha de Pago:</label>
            <input type="date" id="fechaPago" name="fechaPago">

            <label for="condicion">Condición:</label>
            <select id="condicion" name="condicion">
                <option value="">Selecciona una condición</option>
                <option value="pagado">Pagado</option>
                <option value="pendiente">Pendiente</option>
            </select>

            <input type="submit" value="Filtrar">
        </form>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Proveedor</th>
                    <th>Fecha</th>
                    <th>Número de Factura</th>
                    <th>Fecha de Pago</th>
                    <th>Importe</th>
                    <th>Condición</th>
                    <th>Comprobante de Pago</th>
                </tr>
            </thead>
            <tbody>
                <% facturas.forEach(function(factura) { %>
                    <tr>
                        <td><%= factura.id %></td>
                        <td><%= factura.nombre_proveedor %></td>
                        <td><%= new Date(factura.fecha).toLocaleDateString('es-AR') %></td>
                        <td><%= factura.numero_factura %></td>
                        <td><%= new Date(factura.fecha_pago).toLocaleDateString('es-AR') %></td>
                        <td><%= factura.importe %></td>
                        <td><%= factura.condicion %></td>
                        <td><img id="myImg" src="/uploads/comprobantes/<%= factura.comprobante_pago %>" alt="Comprobante de pago" onclick="openModal(this)"></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
        <div id="myModal" class="modal">
            <span class="close">&times;</span>
            <img class="modal-content" id="img01">
        </div>
    </main>
    <%- include ./layouts/footer.ejs %>
    <script src="/js/listadoFacturas.js"></script> 
</body>
