<%- include ./layouts/head.ejs %>
<%- include ./layouts/header.ejs %>
<body>
    <main>
        <div class="form-container">
                   <form id="proveedorForm" action="/administracion/facturas/proveedor" method="GET"> 
            <div class="contenedor-listado"></div>
            <h4>Crear Listado de Facturas</h4>
            <label for="proveedorListado">Proveedor:</label>
            <select id="proveedorListado" name="proveedorListado">
                <option value="">Selecciona un proveedor</option>
                <% proveedores.forEach(function(proveedor) { %>
                    <option value="<%= proveedor.id %>"><%= proveedor.nombre %></option>
                <% }); %>
            </select>
            <button type="submit">Listado Por Proveedor</button>
        </form>

        <form id="filterForm">
            <h4>Filtrar Facturas</h4>
            <label for="proveedor">Proveedor:</label>
<select id="proveedor" name="proveedor">
    <option value="">Selecciona un proveedor</option>
    <% proveedores.forEach(function(proveedor) { %>
        <option value="<%= proveedor.id %>"><%= proveedor.nombre %></option>
    <% }); %>
</select>

            <label for="fechaFactura">Fecha de Factura:</label>
            <input type="date" id="fechaFactura" name="fechaFactura">

            <label for="fechaPago">Fecha de Pago:</label>
            <input type="date" id="fechaPago" name="fechaPago">

            <label for="condicion">Condición:</label>
            <select id="condicion" name="condicion">
                <option value="">Selecciona una condición</option>
                <option value="pagado">Pagado</option>
                <option value="pendiente">Pendiente</option>
            </select>
            <label for="fechaDesde">Fecha Desde:</label>
<input type="date" id="fechaDesde" name="fechaDesde">

<label for="fechaHasta">Fecha Hasta:</label>
<input type="date" id="fechaHasta" name="fechaHasta">

            <input type="submit" value="Filtrar">
        </form>
        </div>
 


        <div id="alertBox"></div>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Proveedor</th>
                    <th>Fecha de Factura</th>
                    <th>Número de Factura</th>
                    <th>Fecha de Pago</th>
                    <th>Importe</th>
                    <th>Condición</th>
                    <th>Comprobante de Pago</th>
                </tr>
            </thead>
            <tbody>
                <% function parseDate(dateString) {
                    var date = new Date(dateString + 'T00:00:00Z');
                    return `${date.getUTCDate().toString().padStart(2, '0')}/${(date.getUTCMonth()+1).toString().padStart(2, '0')}/${date.getUTCFullYear()}`;
                } %>
              <% facturas.forEach(function(factura) { %>
                <% console.log('Comprobante de pago:', factura.comprobante_pago); %> 
                <tr>
                    <td><%= factura.id %></td>
                    <td><%= factura.nombre_proveedor %></td>
                    <td><%= factura.fecha ? parseDate(factura.fecha.toString()) : '' %></td>
                    <td><%= factura.numero_factura %></td>
                    <td><%= factura.fecha_pago ? parseDate(factura.fecha_pago.toString()) : '' %></td>
                    <td><%= factura.importe %></td>
                    <td><%= factura.condicion %></td>
                    <td>
                        <% if (factura.comprobante_pago !== undefined && factura.comprobante_pago && factura.comprobante_pago.trim() !== '') { %>
                            <img id="myImg" src="/uploads/comprobantes/<%= factura.comprobante_pago %>" alt="Comprobante de pago" onclick="openModal(this)">
                        <% } else { %>
                            <span>Sin Comprobante</span>
                        <% } %>
                    </td>
                    <td>
                        <button class="btn-modificar" onclick="location.href='/administracion/facturas/modificar/<%= factura.id %>'">Modificar</button>
                        <form action="/administracion/facturas/eliminar/<%= factura.id %>" method="post" style="display: inline;">
                            <button type="submit" class="btn-eliminar">Eliminar</button>
                        </form>
                    </td>
                </tr>
            <% }); %>
            </tbody>
        </table>
        <div id="myModal" class="modal">
            <span class="close">&times;</span>
            <img class="modal-content" id="img01">
        </div>
    </main>
    <%- include ./layouts/footer.ejs %>
    <script src="/js/listadoFacturas.js"></script> 
</body>
