
<%- include ./layouts/head.ejs %>
<%- include ./layouts/header.ejs %>
<body class="body-login">

  <div class="login-form">

    <h2>Iniciar Sesión</h2>

    <form action="./login" method="post" class="formulario-login">

        <input type="text" name="email" id="email" placeholder="Email" >
        <% if (locals.errors && errors.email) { %>
          <div class="error">
           <%= errors.email.msg %>
          </div>
         <% } %>

        <input type="password" name="password" id="password" placeholder="Contraseña">
        <% if (locals.errors && errors.password) { %>
          <div class="error">
           <%= errors.password.msg %>
          </div>
         <% } %>


        <div class="btn-ingresar">
        <input type="submit" class="btn-login" value="Ingresar">
        <a href="register" class="btn-register">Registrate</a>
        </div>
    </form>
    
  </div>
     
    <%- include ./layouts/footer.ejs %>
</body>

 