<%- include ./layouts/head.ejs %>
<%- include ./layouts/header.ejs %>
<body data-is-admin-user="<%= isAdminUser %>">
  <main>
    <h2 class="titulo-principal" id="titulo-principal">Ofertas</h2>
    <div id="contenedor-productos" class="contenedor-productos">
      <% productos.forEach(function(producto) { %>
        <div class="card
          <%= producto.calidad_original ? 'calidad-original-fitam' : '' %>
          <%= producto.calidad_vic ? 'calidad_vic' : '' %>
        ">
          <% const imagenes = producto.imagenes ? producto.imagenes.split(',') : []; %>
          <% if (imagenes.length > 0) { %>
            <div class="cover__card">
              <div class="carousel">
                <% imagenes.forEach(function(imagen, index) { %>
                  <img class="carousel__image <%= index !== 0 ? 'hidden' : '' %>" src="../../uploads/productos/<%= imagen %>" alt="Imagen de <%= producto.nombre %>">
                <% }); %>
              </div>
            </div>
            <div class="carousel__buttons">
              <button class="carousel__button">
                <i class="fas fa-chevron-left"></i>
              </button>
              <button class="carousel__button">
                <i class="fas fa-chevron-right"></i>
              </button>
            </div>
          <% } else { %>
            <img src="/ruta/valida/a/imagen/por/defecto.jpg" alt="Imagen de <%= producto.nombre %>">
          <% } %>
          <div class="titulo-producto">
            <h3 class="nombre"><%= producto.nombre %></h3>
          </div>
          <hr>
          <div class="categoria-producto">
            <h6 class="categoria"><%= producto.categoria %></h6>
          </div>
          <div class="descripcion" style="display: none;">
            <%= producto.descripcion %>
          </div>
          <div class="precio-producto">
            <p class="precio">$<%= typeof producto.precio_venta === 'number' ? Math.floor(producto.precio_venta).toLocaleString('de-DE') : producto.precio_venta %></p>
          </div>
          <% if (isAdminUser) { %>
            <div class="stock-producto <%= producto.stock_actual < producto.stock_minimo ? 'bajo-stock' : 'suficiente-stock' %>">
              <p>Stock Disponible:   <%= producto.stock_actual %> </p>
            </div>
          <% } %>
          <div class="cantidad-producto">
            <a href="/productos/<%= producto.id %>" class="card-link">Ver detalles</a>
          </div>
        </div>
      <% }); %>
    </div>
  </main>
  <%- include ./layouts/footer.ejs %>
  <script src="/js/productos.js"></script> 
  <script src="/js/buscador.js"></script> 
  <script src="/js/selectores.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
    console.log('Número de productos:', productos.length);
  </script>
</body>