<%- include ./layouts/head.ejs %>
<%- include ./layouts/header.ejs %>
<body>
  <main>
    <h2 class="titulo-principal" id="titulo-principal">Ofertas</h2>
    <div id="contenedor-productos" class="contenedor-productos">
      <% for (var i = 0; i < productos.length; i++) { %>
        <% if (productos[i].oferta) { %>
          <div class="card">
            <h3 class="nombre"><%= productos[i].nombre %></h3>
            <p class="precio">$<%= productos[i].precio_venta %></p>
          </div>
        <% }; %>
      <% }; %>
    </div>
  </main>
  <%- include ./layouts/footer.ejs %>
</body>