<%- include ./layouts/head.ejs %>
<%- include ./layouts/header.ejs %>
<body>
 <main>
<div class="container"> 
    <br/>
    <br/>
    <a href="/envios/crear" class="btn btn-primary" type="button">Crear un nuevo envío</a>
    <br/>
    <br/>
    <div class="form-control">
      <form method="get" action="/envios/generarPDF">
        <label for="proveedor">Seleccionar Proveedor</label>
        <select name="proveedor" id="proveedor">
          <option value="TODOS">Mostrar Todos</option>
          <% proveedores.forEach(proveedor => { %>
            <option value="<%= proveedor.id %>" <%= proveedor.id == proveedorSeleccionado ? 'selected' : '' %>><%= proveedor.nombre %></option>
          <% }); %>
        </select>
        <button type="submit" class="btn btn-primary">Generar PDF</button>
      </form>
    </div>
    <br/>
    <table class="table table-light">
    <thead class="thead-light">
      <tr>
        <th>#</th>
        <th>Nombre</th>
        <th>Fecha de envío</th>
        <th>Estado</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <% envios.forEach(envio => { %>
        <tr>
          <td><%= envio.id %></td> 
          <td><%= envio.nombre %></td>  
          <td><%= envio.fechaEnvio %></td>
          <td><%= envio.estado %></td> 
        <td>
          <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
            <form class="form-inline" method="get" action="/envios/editar/<%= envio.id %>">
                <button class="btn btn-warning" type="submit">Editar</button>
            </form>
          </div>
          <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
            <form class="form-inline" method="post" action="/envios/eliminar/<%= envio.id %>">
                <button class="btn btn-danger" type="submit">Borrar</button>  
            </form>
          </div>  
        </td>
        </tr>
        <% }); %>
    </tbody>
  </table>
</div>
</main>
<%- include ./layouts/footer.ejs %>
</body>