<%- include ./layouts/head.ejs %>
<%- include ./layouts/header.ejs %>
<body>
 <main>
    
<div class="container"> 
    <div class="form-control botones">
        <a href="/productos/crear" class="btn btn-primary panel-control" type="button">Crear un nuevo producto</a>
        <a href="/productos/modificarPorProveedor" class="btn btn-primary panel-control" type="button">Modificar producto por proveedor</a>
        <a href="/productos/proveedores" class="btn btn-primary panel-control" type="button">Ver proveedores</a>
        <a href="/productos/generarPedidoManual" class="btn btn-primary panel-control" type="button">Generar Pedido Manual</a>
    </div>
    
    <div class="form-control">
            <h4>Generar Listado de productos</h4>
                <form method="get" action="/productos/generarPDF">
                  <label for="proveedor">Seleccionar Proveedor</label>
                 <select name="proveedor" id="proveedor">
                <option value="TODOS">Mostrar Todos</option>
                <% proveedores.forEach(proveedor => { %>
                    <option value="<%= proveedor.id %>" <%= proveedor.id == proveedorSeleccionado ? 'selected' : '' %>><%= proveedor.nombre %></option>
                <% }); %>
            </select>
            <label for="categoria">Seleccionar Categoría</label>
            <select name="categoria" id="categoria">
                <option value="">Mostrar Todas</option>
                <% categorias.forEach(categoria => { %>
                    <option value="<%= categoria.id %>" <%= categoria.id == categoriaSeleccionada ? 'selected' : '' %>><%= categoria.nombre %></option>
                <% }); %>
            </select>
            <button type="submit" class="btn btn-primary">Generar PDF</button>
        </form>
    </div>
    <div class="form-control">
        <h4>Actualizar Precios con Excel</h4>
        <form method="post" action="/productos/actualizarPreciosExcel" enctype="multipart/form-data"> 
            <label for="proveedorActualizar">Seleccionar Proveedor</label>
            <select name="proveedor" id="proveedorActualizar">
                <option value="TODOS">Mostrar Todos</option>
                <% proveedores.forEach(proveedor => { %>
                    <option value="<%= proveedor.id %>" <%= proveedor.id == proveedorSeleccionado ? 'selected' : '' %>><%= proveedor.nombre %></option>
                <% }); %>
            </select>
            <label for="archivo">Subir lista de precios</label>
            <input type="file" id="archivo" name="archivos[]" accept=".xlsx,.pdf">
            <button type="submit" class="btn btn-primary">Actualizar precios</button>
        </form>
    </div>
    <div class="form-control">
        <h4>Generar Listado de Stock</h4>
        <form method="get" action="/productos/generarStockPDF">
            <label for="proveedorStock">Seleccionar Proveedor</label>
            <select name="proveedor" id="proveedorStock">
                <option value="TODOS">Mostrar Todos</option>
                <% proveedores.forEach(proveedor => { %>
                    <option value="<%= proveedor.id %>" <%= proveedor.id == proveedorSeleccionado ? 'selected' : '' %>><%= proveedor.nombre %></option>
                <% }); %>
            </select>
    
            <label for="categoriaStock">Seleccionar Categoría</label>
            <select name="categoria" id="categoriaStock">
                <option value="TODAS">Mostrar Todas</option>
                <% categorias.forEach(categoria => { %>
                    <option value="<%= categoria.id %>"><%= categoria.nombre %></option>
                <% }); %>
            </select>
    
            <button type="submit" class="btn btn-primary">Generar Listado de Stock</button>
        </form>
    </div>
    
    <div class="form-control">
        <h4>Generar Pedido de Mercadería</h4>
        <form method="get" action="/productos/generarPedidoPDF">
          <label for="proveedorPedido">Seleccionar Proveedor</label>
          <select name="proveedor" id="proveedorPedido">
            <option value="TODOS">Mostrar Todos</option>
            <% proveedores.forEach(proveedor => { %>
              <option value="<%= proveedor.id %>" <%= proveedor.id == proveedorSeleccionado ? 'selected' : '' %>><%= proveedor.nombre %></option>
            <% }); %>
          </select>
      
          <label for="categoriaPedido">Seleccionar Categoría</label>
          <select name="categoria" id="categoriaPedido">
            <option value="TODAS">Mostrar Todas</option>
            <% categorias.forEach(categoria => { %>
              <option value="<%= categoria.id %>" <%= categoria.id == categoriaSeleccionada ? 'selected' : '' %>><%= categoria.nombre %></option>
            <% }); %>
          </select>
      
          <button type="submit" class="btn btn-primary">Generar Pedido</button>
        </form>
      </div>
      
    
</div>
    <br/> 
<div class="contenedor-busqueda">
  <div class="paginacion">
    <% if (paginaActual > 1) { %>
        <a href="?pagina=<%= paginaActual - 1 %>">&laquo;</a>
    <% } %>

    <% if (paginaActual > 10) { %>
        <a href="?pagina=1">1</a>
        <span>...</span>
    <% } %>

    <% for(let i = Math.max(1, paginaActual - 1); i <= Math.min(paginaActual + 10, numeroDePaginas); i++) { %>
        <% if (paginaActual === i) { %>
            <span class="active"><%= i %></span>
        <% } else { %>
            <a href="?pagina=<%= i %>"><%= i %></a>
        <% } %>
    <% } %>

    <% if (paginaActual < numeroDePaginas - 1) { %>
        <span>...</span>
        <a href="?pagina=<%= numeroDePaginas %>"><%= numeroDePaginas %></a>
    <% } %>

    <% if (paginaActual < numeroDePaginas) { %>
        <a href="?pagina=<%= paginaActual + 1 %>">&raquo;</a>
    <% } %>
</div>
  <div class="buscador-panel">
        <input type="text" id="entradaBusqueda" placeholder="Que estás buscando? Ej: Escort, Optica, Faro, Agile">
    </div>
      <table class="table table-light">
        <thead class="thead-light">
            <tr>
                <th><input type="checkbox" id="check-all"></th>
                <th>Categoría</th>
                <th>Nombre</th>
                <th>Imagen</th>
                <th>Precio</th>
                <th>Acciones</th>   
            </tr>
        </thead>
        <tbody id="contenedor-productos">
            <% productos.forEach(producto => { %>
                <tr>
                    <td><input type="checkbox" class="product-check" value="<%= producto.id %>"></td>
                    <td> <%= producto.categoria %></td>
                    <td><%= producto.nombre %></td> 
                    <td>
                        <img class="img-thumbnail" width='150' src="/uploads/productos/<%= producto.imagenes[0] %>" alt="">
                    </td>
                    <td>$<%= parseInt(producto.precio_venta) %></td>
                    <td>
                        <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                            <form class="form-inline" method="get" action="/productos/editar/<%= producto.id %>?pagina=<%= paginaActual %>">
                                <button class="btn btn-warning" type="submit">Editar</button>
                            </form>
                        </div> 
                    </td>
                </tr>
            <% }); %>
        </tbody>
    </table>
    <button id="delete-selected" class="btn btn-danger btn-delete">Eliminar seleccionados</button>
</div>
</main>
<%- include ./layouts/footer.ejs %>
<script src="/js/panelControl.js"></script> 
</body>