<%- include ./layouts/head.ejs %>
<%- include ./layouts/header.ejs %>
<body>
 <main>
<div class="container"> 
 <br/>
    <br/>
    <a href="/productos/crear" class="btn btn-primary" type="button">Crear un nuevo producto</a>
    <br/>
    <br/>
    <a href="/productos/modificarPorProveedor" class="btn btn-primary" type="button">Modificar producto por proveedor</a>
    <br/>
    <br/>
    <a href="/productos/proveedores" class="btn btn-primary" type="button">Ver proveedores</a>
    <br/>
    <br/>
    <br/>
    <br/>
   <div class="form-control">
      <form method="get" action="/productos/generarPDF">
        <h4>Generar Listado de productos</h4>
        <label for="proveedor">Seleccionar Proveedor</label>
        <select name="proveedor" id="proveedor">
          <option value="TODOS">Mostrar Todos</option>
          <% proveedores.forEach(proveedor => { %>
            <option value="<%= proveedor.id %>" <%= proveedor.id == proveedorSeleccionado ? 'selected' : '' %>><%= proveedor.nombre %></option>
          <% }); %>
        </select>
        <label for="categoria">Seleccionar Categoría</label>
        <select name="categoria" id="categoria">
          <option value="">Mostrar Todas</option>
          <% categorias.forEach(categoria => { %>
            <option value="<%= categoria.id %>" <%= categoria.id == categoriaSeleccionada ? 'selected' : '' %>><%= categoria.nombre %></option>
          <% }); %>
        </select>
        <button type="submit" class="btn btn-primary">Generar PDF</button>
      </form>
    </div>

    <div class="form-control">
      <form method="get" action="/productos/generarStockPDF">
        <h4>Generar Listado de Stock</h4>
        <label for="proveedorStock">Seleccionar Proveedor</label>
        <select name="proveedor" id="proveedorStock">
          <option value="TODOS">Mostrar Todos</option>
          <% proveedores.forEach(proveedor => { %>
            <option value="<%= proveedor.id %>" <%= proveedor.id == proveedorSeleccionado ? 'selected' : '' %>><%= proveedor.nombre %></option>
          <% }); %>
        </select>
        <button type="submit" class="btn btn-primary">Generar PDF de Stock</button>
      </form>
    </div>
    
    <br/>
    <div class="paginacion">
      <% if (paginaActual > 1) { %>
          <a href="?pagina=<%= paginaActual - 1 %>">&laquo;</a>
      <% } %>
  
      <% if (paginaActual > 25) { %>
          <a href="?pagina=1">1</a>
          <span>...</span>
      <% } %>
  
      <% for(let i = Math.max(1, paginaActual - 5); i <= Math.min(paginaActual + 15, numeroDePaginas); i++) { %>
          <% if (paginaActual === i) { %>
              <span class="active"><%= i %></span>
          <% } else { %>
              <a href="?pagina=<%= i %>"><%= i %></a>
          <% } %>
      <% } %>
  
      <% if (paginaActual < numeroDePaginas - 24) { %>
          <span>...</span>
          <a href="?pagina=<%= numeroDePaginas %>"><%= numeroDePaginas %></a>
      <% } %>
  
      <% if (paginaActual < numeroDePaginas) { %>
          <a href="?pagina=<%= paginaActual + 1 %>">&raquo;</a>
      <% } %>
  </div>
<table class="table table-light">
<thead class="thead-light">
  <tr>
    <th><input type="checkbox" id="check-all"></th>
    <button id="delete-selected" class="btn btn-danger">Eliminar seleccionados</button>
    <th>Categoría</th>
    <th>Nombre</th>
    <th>Imagen</th>
    <th>Precio</th>
    <th>Acciones</th>   
  </tr>
</thead>
<tbody>
  <% productos.forEach(producto => { %>
    <tr>
      <td><input type="checkbox" class="product-check" value="<%= producto.id %>"></td>
      <td> <%= producto.categoria %></td>
      <td><%= producto.nombre %></td> 
          <td>
            <img class="img-thumbnail" width= '150' src="/uploads/productos/<%= producto.imagenes[0] %>" alt="">
          </td>
          <td>$<%= parseInt(producto.precio_venta) %></td>
        <td>
          <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
            <form class="form-inline" method="get" action="/productos/editar/<%= producto.id %>">
                <button class="btn btn-warning" type="submit">Editar</button>
            </form>
          </div> 
        </td>
        </tr>
        <% }); %>
    </tbody>
  </table>
</div>
</main>
<%- include ./layouts/footer.ejs %>
<script src="/js/panelControl.js"></script> 
</body>