<%- include ./layouts/head.ejs %>
<%- include ./layouts/header.ejs %>
<body>
 <main>
<div class="container"> 
    <br/>
    <br/>
    <a href="/productos/crear" class="btn btn-primary" type="button">Crear un nuevo producto</a>
    <br/>
    <br/>
    <a href="/productos/modificarPorProveedor" class="btn btn-primary" type="button">Modificar producto por proveedor</a>
    <br/>
    <br/>
    <!-- Formulario para seleccionar el proveedor -->
    <form method="get" action="/productos/panelControl">
      <select name="proveedor" onchange="this.form.submit()">
        <% proveedores.forEach(proveedor => { %>
          <option value="<%= proveedor.id %>" <%= proveedor.id == proveedorSeleccionado ? 'selected' : '' %>><%= proveedor.nombre %></option>
        <% }); %>
      </select>
    </form>
    <br/>
    <div class="pagination">
      <% for(var i = 1; i <= Math.ceil(totalProductos / productosPorPagina); i++) { %>
        <a class="pagina" href="/productos/panelControl?pagina=<%= i %>&proveedor=<%= proveedorSeleccionado %>"><%= i %></a>
      <% } %>
    </div>
    <table class="table table-light">
    <thead class="thead-light">
      <tr>
        <th>#</th>
        <th>Nombre</th>
        <th>Imagen</th>
        <th>Precio</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <% productos.forEach(producto => { %>
        <tr>
          <td><%= producto.id %></td> 
          <td><%= producto.nombre %></td>  
          <td>
            <img class="img-thumbnail" width= '150' src="/images/<%= producto.imagen %>" alt="">
          </td>
          <td>$<%= producto.precio %></td> 
        <td>
          <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
            <form class="form-inline" method="get" action="/productos/editar/<%= producto.id %>">
                <button class="btn btn-warning" type="submit">Editar</button>
            </form>
          </div>
          <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
            <form class="form-inline" method="post" action="/productos/eliminar/<%= producto.id %>">
                <button class="btn btn-danger" type="submit">Borrar</button>  
            </form>
          </div>  
        </td>
        </tr>
        <% }); %>
    </tbody>
  </table>
  <div class="pagination">
    <% for(var i = 1; i <= Math.ceil(totalProductos / productosPorPagina); i++) { %>
      <a class="pagina" href="/productos/panelControl?pagina=<%= i %>&proveedor=<%= proveedorSeleccionado %>"><%= i %></a>
    <% } %>
  </div>
</div>
</main>
<%- include ./layouts/footer.ejs %>
</body>