<%- include('./layouts/head.ejs') %>
<%- include('./layouts/header.ejs') %>
<body>
    <main>
        <div class="form-group-crear">
            <label for="proveedores">Proveedores: <span class="nombre_proveedor"></span></label>
            <select class="proveedores" name="proveedores[]">
                <option selected disabled>Seleccione un proveedor</option>
                <% proveedores.forEach(function(proveedor) { %>
                    <option value="<%= proveedor.id %>"><%= proveedor.nombre %> (Descuento: <%= proveedor.descuento || 0 %>%)</option>
                <% }); %>
            </select>
        </div>
        <div class="buscador-panel">
            <input type="text" id="entradaBusqueda" placeholder="¿Qué estás buscando? Ej: Escort, Óptica, Faro, Agile">
        </div>
        <div id="contenedor-productos"></div> <!-- Mostrar el listado de productos buscados aquí -->
        
        <!-- Tabla donde se agregan los productos seleccionados -->
        <table id="tabla-pedido">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Nombre</th>
                    <th>Precio Unitario</th>
                    <th>Cantidad</th>
                    <th>Precio Total</th>
                </tr>
            </thead>
            <tbody id="tabla-pedido-body">
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4">Total del pedido:</td>
                    <td id="total-pedido">0</td>
                </tr>
            </tfoot>
        </table>
        <!-- Botón para confirmar y generar el PDF -->
        
    <div style="text-align: right; margin-top: 10px; margin-right: 20px;">
    <button id="btn-confirmar" class="btn btn-success">CONFIRMAR</button>
    </div>
    </main>

    <%- include('./layouts/footer.ejs') %>
    <!-- Scripts necesarios -->
    <script src="/js/buscadorPedidoManual.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.23/jspdf.plugin.autotable.min.js"></script>
</body>
