<%- include('./layouts/head.ejs') %>
<%- include('./layouts/header.ejs') %>
<body>
<main>
    <h2>Detalle del Presupuesto</h2>
    <table>
        <thead>
            <tr>
                <th colspan="4">Detalle del Presupuesto</th>
            </tr>
            <tr>
                <td>ID Presupuesto: <%= presupuesto.presupuesto_id %></td>
                <td>Fecha: <%= new Date(presupuesto.fecha).toISOString().split('T')[0] %></td>
                <td>Cliente: <%= presupuesto.nombre_cliente %></td>
                <td>Total: <%= presupuesto.total %></td>
            </tr>
            <tr>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            <% detalles.forEach(item => { %>
            <tr>
                <td><%= item.nombre_producto %></td>
                <td><%= item.cantidad %></td>
                <td><%= presupuesto.total %></td>
            <% }); %>
        </tbody>
    </table>
</main>
<%- include('./layouts/footer.ejs') %>
<script src="/js/buscadorPresupuesto.js"></script>
</body>
