<%- include ./layouts/head.ejs %>
<%- include ./layouts/header.ejs %>
<body>

  <main>
    <h2 class="titulo-principal" id="titulo-principal">
      Todos los productos
    </h2>
    <input type="text" id="searchInput" placeholder="Buscar productos..." oninput="buscarProductos(this.value)">
    <ol id="productos">

    </ol>
    <div id="contenedor-productos" class="contenedor-productos">
      <% productos.forEach(producto => { %>

        <div class="card"> 
          <div class="imagen-producto">
            <img src="../../images/<%=producto.imagen%>" alt="Imagen de <%= producto.nombre %>">
          </div>
          <div class="titulo-producto">
            <h3 class="nombre"><%= producto.nombre %></h3>
          </div> 
          <div class="precio-producto">
            <p class="precio">$<%= producto.precio %></p>
          </div>
        </div>

      <% }); %>
    </div>
</main>
    
      <%- include ./layouts/footer.ejs %>
      <script src="js/buscador.js"></script>
  </body>