
<%- include ./layouts/head.ejs %>
<%- include ./layouts/header.ejs %>
<body>
 <div class="wrapper">
  <aside>
  <nav>
                  <ul class="menu">
                      <li>
                          <button id="todos" class="boton-menu boton-categoria active"><i class="bi bi-hand-index-thumb-fill"></i> Todos los productos</button>
                      </li>
                      <li>
                          <button id="opticas" class="boton-menu boton-categoria"><i class="bi bi-hand-index-thumb"></i> Opticas</button>
                      </li>
                      <li>
                          <button id="farosTraseros" class="boton-menu boton-categoria"><i class="bi bi-hand-index-thumb"></i> Faros Traseros</button>
                      </li>
                      <li>
                          <button id="farosDelanteros" class="boton-menu boton-categoria"><i class="bi bi-hand-index-thumb"></i> Faros Delanteros</button>
                      </li>
                      <li>
                        <button id="vidriosOpticas" class="boton-menu boton-categoria"><i class="bi bi-hand-index-thumb"></i> Vidrios de Opticas</button>
                      </li>
                      <li>
                          <a class="boton-menu boton-carrito" href="/productos/carrito">
                              <i class="bi bi-cart-fill"></i> Carrito <span id="numerito" class="numerito">0</span>
                          </a>
                      </li>
                  </ul>
              </nav>
              </aside> 
          
          <!-- index.ejs -->
<main>
    <h2 class="titulo-principal" id="titulo-principal">Todos los productos</h2>
    <div id="contenedor-productos" class="contenedor-productos">
      <% productos.forEach(producto => { %>
        <div>
          <h3><%= producto.nombre %></h3>
          <img class="img-thumbnail" src="../../images/<%=producto.imagen%>" width="100" alt="">
          <!-- Agrega aquí cualquier otra información que quieras mostrar -->
        </div>
      <% }); %>
    </div>
  </main>
  
      </div>
     
      <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
      <script src="js/main.js"></script>
      <script src="js/menu.js"></script>  
      <%- include ./layouts/footer.ejs %>
  </body>
  </html>
 
