<%- include('./layouts/head.ejs') %>
<%- include('./layouts/header.ejs') %>

<div class="container mt-4">
  <h2>Productos Más Vendidos</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Total Vendido</th>
        <th>Precio Venta</th>
      </tr>
    </thead>
    <tbody>
      <% productos.forEach(prod => { %>
        <tr>
          <td><%= prod.nombre %></td>
          <td><%= prod.total_vendido %></td>
          <td>$<%= prod.precio_venta %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</div>

<%- include('./layouts/footer.ejs') %>
