<%- include ./layouts/head.ejs %>
<%- include ./layouts/header.ejs %>
<body>
  <main>

    <h2 class="titulo-principal" id="titulo-principal"> 
      Busca Tus Productos
    </h2>
    <div class="contenedor-busqueda">
      <div class="buscador">
        <input type="text" id="entradaBusqueda" placeholder="Que estás buscando? Ej:Escort, Optica, Faro, Agile">
      </div>
    
      <div class="selectores-productos">
        <div class="form-group-crear">
          <label for="categoria_id">Categoria</label>
          <select id="categoria_id" name="categoria_id">
            <option value="" selected>Selecciona una categoría...</option>
            <% categorias.forEach(function(categoria) { %>
              <option value="<%= categoria.id %>"><%= categoria.nombre %></option>
            <% }); %>
          </select>   
        </div>
        <div class="form-group-crear">
          <label for="id_marca">Marca</label>
          <select id="id_marca" name="id_marca">
            <option value="" selected>Selecciona una marca...</option> 
            <% marcas.forEach(function(marca) { %>
              <option value="<%= marca.id %>"><%= marca.nombre %></option>
            <% }); %>
          </select> 
        </div>
        <div class="form-group-crear">
          <label for="modelo_id">Modelo</label>
          <select id="modelo_id" name="modelo_id">
            <% if (modelo) { %>
              <option value="<%= modelo.id %>" selected><%= modelo.nombre %></option>
            <% } else { %>
              <option value="" selected>Selecciona un modelo...</option>
            <% } %>
            <% if (modelosPorMarca && Array.isArray(modelosPorMarca)) { %>
              <% modelosPorMarca.forEach(function(modelo) { %>
                <option value="<%= modelo.id %>"><%= modelo.nombre %></option>
              <% }); %>
            <% } %>
          </select>
        </div>
      </div>
    </div>

<div class="paginacion">
  <% for(let i = 1; i <= numeroDePaginas; i++) { %>
    <a href="/productos?pagina=<%= i %>" class="<% if (i == pagina) { %>pagina-actual<% } %>"><%= i %></a>
  <% } %>
</div>
<div id="contenedor-productos" class="contenedor-productos">
  <% productos.forEach((producto, index) => { %>
    <div class="card">
      <div id="carousel<%= index %>" class="carousel slide" data-ride="carousel">
        <% if (producto.imagenes && producto.imagenes.length > 0) { %>
          <div class="carousel-inner">
            <% producto.imagenes.forEach((imagen, imagenIndex) => { %>
              <div class="carousel-item <%= imagenIndex === 0 ? 'active' : '' %>">
                <img src="../../uploads/productos/<%= imagen.imagen %>" class="d-block w-100" alt="Imagen de <%= producto.nombre %>">
              </div>
            <% }); %>
          </div>
          <% if (producto.imagenes.length > 1) { %>
            <a class="carousel-control-prev" href="#carousel<%= index %>" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Anterior</span>
            </a>
            <a class="carousel-control-next" href="#carousel<%= index %>" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Siguiente</span>
            </a>
          <% } %>
        <% } else { %>
          <img src="/ruta/valida/a/imagen/por/defecto.jpg" alt="Imagen de <%= producto.nombre %>">
        <% } %>
      </div>
      <div class="titulo-producto">
        <h3 class="nombre"><%= producto.nombre %></h3>
      </div>
      <hr>
      <div class="categoria-producto">
        <h6 class="categoria"><%= producto.categoria %></h6>
      </div>
      <div class="descripcion" style="display: none;">
        <%= producto.descripcion %>
      </div>
      <div class="precio-producto">
        <p class="precio">$<%= typeof producto.precio_venta === 'number' ? Math.floor(producto.precio_venta).toLocaleString('de-DE') : producto.precio_venta %></p>
      </div>
      <div class="cantidad-producto">
        <a href="/productos/<%= producto.id %>" class="card-link">Ver detalles</a>
      </div>
    </div>
  <% }); %>
</div>
<div class="paginacion">
  <% for(let i = 1; i <= numeroDePaginas; i++) { %>
    <a href="/productos?pagina=<%= i %>" class="<% if (i == pagina) { %>pagina-actual<% } %>"><%= i %></a>
  <% } %>
</div>
  </main>
  <%- include ./layouts/footer.ejs %>
  <script src="/js/buscador.js"></script> 
  <script src="/js/selectores.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-8s5eKHeCQih5SR1tr8T9F6YPbPslzBylgKFFC3U6B4CJ2HqDK+h56Mb2WBKBC5zW" crossorigin="anonymous"></script>
  <style>
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
      height: 50px;
      width: 50px;
      outline: black;
      background-size: 100%, 100%;
      border-radius: 50%;
      border: 1px solid black;
      background-image: none;
    }
    
    .carousel-control-next-icon:after
    {
      content: '>';
      font-size: 55px;
      color: red;
    }
    
    .carousel-control-prev-icon:after {
      content: '<';
      font-size: 55px;
      color: red;
    }
    </style>
    
    <script>
    $(document).ready(function(){
      $('.carousel').carousel();
    });
    </script>

</body>