
<%- include ./layouts/head.ejs %>
<%- include ./layouts/header.ejs %>
<body>

<main>
    <h2 class="titulo-principal" id="titulo-principal">Todos los productos</h2>
    <div id="contenedor-productos" class="contenedor-productos">
      <% productos.forEach(producto => { %>
        <div>
          <h3><%= producto.nombre %></h3>
          <img class="img-thumbnail" src="../../images/<%=producto.imagen%>" width="100" alt="">
          <!-- Agrega aquí cualquier otra información que quieras mostrar -->
        </div>
      <% }); %>
    </div>
  </main>
  
    
      <%- include ./layouts/footer.ejs %>
  </body>
 
