<%- include ./layouts/head.ejs %>
<%- include ./layouts/header.ejs %>
<body>
  <main>

    <h2 class="titulo-principal" id="titulo-principal"> 
      Todos los productos
    </h2>
    <div class="buscador">
      <input type="text" id="entradaBusqueda" placeholder="Buscar productos...">
    </div>

    <form>
  <div class="selectores-productos">
    <div class="form-group-crear">
      <label for="categoria_id">Categoria</label>
      <select id="categoria_id" name="categoria_id">
          <option value="" selected>Selecciona una categoría...</option>
          <% categorias.forEach(function(categoria) { %>
              <option value="<%= categoria.id %>"><%= categoria.nombre %></option>
          <% }); %>
      </select>   
    </div>
    <div class="form-group-crear">
      <label for="id_marca">Marca</label>
      <select id="id_marca" name="id_marca">
        <option value="" selected>Selecciona una marca...</option> 
        <% marcas.forEach(function(marca) { %>
          <option value="<%= marca.id %>"><%= marca.nombre %></option>
        <% }); %>
      </select>
    </div>
    <div class="form-group-crear">
      <label for="modelo_id">Modelo</label>
      <select id="modelo_id" name="modelo_id">
        <option value="" <% if (!modelo) { %>selected<% } %>>Selecciona un modelo...</option>
        <% if (Array.isArray(modelosPorMarca)) { %>
            <% modelosPorMarca.forEach(function(modelo) { %>
              <option value="<%= modelo.id %>" <% if (modelo == modelo.id) { %>selected<% } %>><%= modelo.nombre %></option>
            <% }); %>
        <% } %>
      </select>
    </div>
  </div>
  <div class="boton-buscar">
    <button id="boton-buscar" type="button">Buscar</button>
  </div>
</form>
<div id="contenedor-productos" class="contenedor-productos">
  <% productos.forEach(producto => { %>
    <div class="card">
      <div class="cover__card">
        <img src="../../images/<%= producto.imagen %>" alt="Imagen de <%= producto.nombre %>">
      </div>
      <div class="titulo-producto">
        <h3 class="nombre"><%= producto.nombre %></h3>
      </div>
      <hr>
      <div class="categoria-producto">
        <h6 class="categoria"><%= producto.categoria %></h6>
      </div>
      <div class="descripcion" style="display: none;">
        <%= producto.descripcion %>
      </div>
      <div class="precio-producto">
        <p class="precio">$<%= producto.precio %></p>
      </div>
      <div class="cantidad-producto">
        <a href="/productos/carrito/agregar/<%= producto.id %>" class="agregar-carrito">Agregar al carrito</a>
      </div>
    </div>
  <% }); %>
</div>
    </div>
  </main>
  <%- include ./layouts/footer.ejs %>
  <script src="/js/buscador.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="/js/selectores.js"></script>
</body>