<%- include ./layouts/head.ejs %>
<%- include ./layouts/header.ejs %>
<body data-is-admin-user="<%= isAdminUser %>">
  <main>

    <h2 class="titulo-principal" id="titulo-principal"> 
      Busca Tus Productos
    </h2>
    <div class="contenedor-busqueda">
      <div class="buscador">
        <input type="text" id="entradaBusqueda" placeholder="Que estás buscando? Ej: Escort, Optica, Faro, Agile">
      </div>
      <div class="selectores-productos">
        <div class="form-group-crear">
          <label for="categoria_id">Categoria</label>
          <select id="categoria_id" name="categoria_id">
            <option value="" selected>Selecciona una categoría</option>
            <% categorias.forEach(function(categoria) { %>
              <option value="<%= categoria.id %>"><%= categoria.nombre %></option>
            <% }); %>
          </select>   
        </div>
        <div class="form-group-crear">
          <label for="marca_id">Marca</label> 
          <select id="marca_id" name="marca_id"> 
            <option value="" selected>Selecciona una marca</option> 
            <% marcas.forEach(function(marca) { %>
              <option value="<%= marca.id %>"><%= marca.nombre %></option>
            <% }); %>
          </select>   
        </div>
        <div class="form-group-crear">
          <label for="modelo_id">Modelo</label>
          <select id="modelo_id" name="modelo_id">
            <% if (modelo) { %>
              <option value="<%= modelo.id %>" selected><%= modelo.nombre %></option>
            <% } else { %>
              <option value="" selected>Selecciona un modelo</option>
            <% } %>
            <% if (modelosPorMarca && Array.isArray(modelosPorMarca)) { %>
              <% modelosPorMarca.forEach(function(modeloPorMarca) { %>
                <% if (!modelo || modelo.id !== modeloPorMarca.id) { %>
                  <option value="<%= modeloPorMarca.id %>"><%= modeloPorMarca.nombre %></option>
                <% } %>
              <% }); %>
            <% } %>
          </select>
        </div>
      </div>
    </div>
    
    <div class="paginacion">
      <% for(let i = 1; i <= numeroDePaginas; i++) { %>
        <a href="/productos?pagina=<%= i %>" class="<% if (i == pagina) { %>pagina-actual<% } %>"><%= i %></a>
      <% } %>
    </div>

   <div id="contenedor-productos" class="contenedor-productos">
    <% console.log('Productos:', productos); %>
    <% console.log('isAdminUser:', isAdminUser); %>
  <% productos.forEach(function(producto) { %>
    <% console.log('Producto:', producto); %>
    <div class="card
      <%= producto.calidad_original ? 'calidad-original-fitam' : '' %>
      <%= producto.calidad_vic ? 'calidad_vic' : '' %>
    ">
          <% if (producto.imagenes && producto.imagenes.length > 0) { %>
            <div class="cover__card">
              <div class="carousel">
                <% producto.imagenes.forEach(function(imagen, index) { %>
                  <img class="carousel__image <%= index !== 0 ? 'hidden' : '' %>" src="../../uploads/productos/<%= imagen.imagen %>" alt="Imagen de <%= producto.nombre %>">
                <% }); %>
              </div>
            </div>
            <div class="carousel__buttons">
              <button class="carousel__button">
                <i class="fas fa-chevron-left"></i>
              </button>
              <button class="carousel__button">
                <i class="fas fa-chevron-right"></i>
              </button>
            </div>
          <% } else { %>
            <img src="/ruta/valida/a/imagen/por/defecto.jpg" alt="Imagen de <%= producto.nombre %>">
          <% } %>
          <div class="titulo-producto">
            <h3 class="nombre"><%= producto.nombre %></h3>
          </div>
          <hr>
          <div class="categoria-producto">
            <h6 class="categoria"><%= producto.categoria %></h6>
          </div>
          <div class="descripcion" style="display: none;">
            <%= producto.descripcion %>
          </div>
          <div class="precio-producto">
            <p class="precio">$<%= typeof producto.precio_venta === 'number' ? Math.floor(producto.precio_venta).toLocaleString('de-DE') : producto.precio_venta %></p>
          </div>
          <% if (isAdminUser) { %>
            <div class="stock-producto <%= producto.stock_actual < producto.stock_minimo ? 'bajo-stock' : 'suficiente-stock' %>">
              <p>Stock Disponible:   <%= producto.stock_actual %> </p>
            </div>
          <% } %>
          <div class="cantidad-producto">
            <a href="/productos/<%= producto.id %>" class="card-link">Ver detalles</a>
          </div>
        </div>
      <% }); %>
    </div>

</main>
  <%- include ./layouts/footer.ejs %>
  <script src="/js/productos.js"></script> 
  <script src="/js/buscador.js"></script> 
  <script src="/js/selectores.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
    console.log('Número de productos:', productos.length);
    console.log('Número de páginas:', numeroDePaginas);
  </script>
</body>