<%- include ./layouts/head.ejs %>
<%- include ./layouts/header.ejs %>

<body>
  <main>
    <h2 class="titulo-principal" id="titulo-principal">
      Todos los productos
    </h2>
    <div class="buscador">
      <input type="text" id="entradaBusqueda" placeholder="Buscar productos...">
    </div>

    <div id="contenedor-productos" class="contenedor-productos">
    
      <div id="contenedor-productos" class="contenedor-productos">
        <% productos.forEach(producto => { %>
          <div class="card">
            <div class="cover__card">
              <img src="../../images/<%= producto.imagen %>" alt="Imagen de <%= producto.nombre %>">
            </div>
            <div class="titulo-producto">
              <h3 class="nombre"><%= producto.nombre %></h3>
            </div>
            <hr>
            <div class="categoria-producto">
              <h6 class="categoria"><%= producto.categoria %></h6>
            </div>
            <hr>
            <div class="precio-producto">
              <p class="precio">$<%= producto.precio %></p>
            </div>
            <div class="cantidad-producto">
              <h6>Cantidad</h6>
              <input type="number" class="cantidad" value="1" min="1">
              <button class="agregar-carrito">Agregar al carrito</button>
            </div>
            
          </div>
        <% }); %>
    </div>
  </main>
  <%- include ./layouts/footer.ejs %>
  <script src="js/buscador.js"></script>
</body>
