<%- include ./layouts/head.ejs %>
<%- include ./layouts/header.ejs %>
<body data-is-admin-user="<%= isAdminUser %>">
  <main>

    <h2 class="titulo-principal" id="titulo-principal"> 
      Busca Tus Productos
    </h2>
    <div class="contenedor-busqueda">
      <div class="buscador">
        <input type="text" id="entradaBusqueda" placeholder="Que estás buscando? Ej: Escort, Optica, Faro, Agile">
      </div>
      <div class="selectores-productos">
        <div class="form-group-crear">
          <label for="categoria_id">Categoria</label>
          <select id="categoria_id" name="categoria_id">
            <option value="" selected>Selecciona una categoría</option>
            <% categorias.forEach(function(categoria) { %>
              <option value="<%= categoria.id %>"><%= categoria.nombre %></option>
            <% }); %>
          </select>   
        </div>
        <div class="form-group-crear">
          <label for="marca_id">Marca</label> 
          <select id="marca_id" name="marca_id"> 
            <option value="" selected>Selecciona una marca</option> 
            <% marcas.forEach(function(marca) { %>
              <option value="<%= marca.id %>"><%= marca.nombre %></option>
            <% }); %>
          </select>   
        </div>
        <div class="form-group-crear">
          <label for="modelo_id">Modelo</label>
          <select id="modelo_id" name="modelo_id">
            <% if (modelo) { %>
              <option value="<%= modelo.id %>" selected><%= modelo.nombre %></option>
            <% } else { %>
              <option value="" selected>Selecciona un modelo</option>
            <% } %>
            <% if (modelosPorMarca && Array.isArray(modelosPorMarca)) { %>
              <% modelosPorMarca.forEach(function(modeloPorMarca) { %>
                <% if (!modelo || modelo.id !== modeloPorMarca.id) { %>
                  <option value="<%= modeloPorMarca.id %>"><%= modeloPorMarca.nombre %></option>
                <% } %>
              <% }); %>
            <% } %>
          </select>
        </div>
      </div>
    </div>
    
    <div class="paginacion">
      <% for(let i = 1; i <= Math.min(numeroDePaginas, 10); i++) { %>
        <a href="/productos?pagina=<%= i %>" class="<% if (i == pagina) { %>pagina-actual<% } %>"><%= i %></a>
      <% } %>
    </div>

    <div id="contenedor-productos" class="contenedor-productos">
      <% productos.forEach(function(producto) { %>
        <div class="card">
          <div class="cover__card">
            <% if (producto.imagenes && producto.imagenes.length > 0) { %>
              <img src="../../uploads/productos/<%= producto.imagenes[0].imagen %>" alt="Imagen de <%= producto.nombre %>">
            <% } else { %>
              <img src="/ruta/imagen/por/defecto.jpg" alt="Imagen de <%= producto.nombre %>">
            <% } %>
          </div>
          <div class="titulo-producto">
            <h3><%= producto.nombre %></h3>
          </div>
          <div class="precio-producto">
            <p>$<%= producto.precio_venta.toLocaleString('de-DE') %></p>
          </div>
          
          <% if (isUserLoggedIn) { %> <!-- Verifica si el usuario está logueado -->
            <div class="cantidad-producto">
              <label for="cantidad-<%= producto.id %>">Cantidad:</label>
              <input type="number" id="cantidad-<%= producto.id %>" class="cantidad-input" min="1" max="<%= producto.cantidad_disponible %>" value="1">
              <button class="btn-agregar-carrito" data-id="<%= producto.id %>">Agregar al Carrito</button>
            </div>
            
            <div class="indicador-disponibilidad">
              <% if (producto.disponibilidad === 'disponible') { %>
                <div class="circulo verde"></div>
              <% } else if (producto.disponibilidad === 'pendiente') { %>
                <div class="circulo amarillo"></div>
              <% } else { %>
                <div class="circulo rojo"></div>
              <% } %>
              <span>
                <% if (producto.disponibilidad === 'disponible') { %>Disponible
                <% } else if (producto.disponibilidad === 'pendiente') { %>Pendiente
                <% } else { %>A pedido
                <% } %>
              </span>
            </div>
          <% } else { %>
            <p class="mensaje-registro">Regístrate o inicia sesión para agregar productos al carrito.</p>
          <% } %>
        </div>
      <% }); %>
    </div>
<div class="paginacion">
  <% for(let i = 1; i <= Math.min(numeroDePaginas, 10); i++) { %>
    <a href="/productos?pagina=<%= i %>" class="<% if (i == pagina) { %>pagina-actual<% } %>"><%= i %></a>
  <% } %>
</div>
</main>
  <%- include ./layouts/footer.ejs %>
  <script src="/js/productos.js"></script> 
  <script src="/js/buscador.js"></script> 
  <script src="/js/selectores.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 
</body>