
<%- include ./layouts/head.ejs %>
<%- include ./layouts/header.ejs %>
<body>
   <main>
      <div class="saludo">
         <h1>Hola <%= usuario.nombre %>!</h1>
      </div>
      <div class="user-card">
        <h2>Mis Datos</h2>
        <form action="/users/profile" method="POST">
          <label for="nombre">Nombre:</label>
          <input type="text" id="nombre" name="nombre" value="<%= usuario.nombre %>" required>
    
          <label for="apellido">Apellido:</label>
          <input type="text" id="apellido" name="apellido" value="<%= usuario.apellido %>" required>
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" value="<%= usuario.email %>" required>

          <label for="celular">Celular:</label>
          <input type="text" id="celular" name="celular" value="<%= usuario.celular %>" required>
    
          
     
          <label for="provincia">Provincia:</label>
          <input type="hidden" id="nombreProvincia" name="nombreProvincia" value="<%= usuario.nombreProvincia %>">
          <select id="provincia" name="provincia" required>
            
          </select>
          
          <label for="localidad">Localidad:</label>
          <input type="hidden" id="nombreLocalidad" name="nombreLocalidad" value="<%= usuario.nombreLocalidad %>">
          <select id="localidad" name="localidad" required>
            
          </select>
          <label for="direccion">Dirección:</label>
          <input type="text" id="direccion" name="direccion" value="<%= usuario.direccion %>" required>
  
          <input type="submit" value="Guardar cambios">
        </form>
      </div>
    </main>
    <script>
      fetch('https://apis.datos.gob.ar/georef/api/provincias')
      .then(response => response.json())
      .then(data => {
        console.log('Datos de provincias:', data);
        const provincias = data.provincias;
        const selectProvincia = document.getElementById('provincia');
        provincias.forEach(provincia => {
          const option = document.createElement('option');
          option.value = provincia.id;
          option.text = provincia.nombre;
          selectProvincia.appendChild(option);
        });
        console.log('Valor de usuario.provincia:', "<%= usuario.provincia %>"); 
        selectProvincia.value = "<%= usuario.provincia %>";
        if (selectProvincia.selectedIndex !== -1) { 
          document.getElementById('nombreProvincia').value = selectProvincia.options[selectProvincia.selectedIndex].text;
        }
        selectProvincia.addEventListener('change', function() {
          const provinciaSeleccionada = this.value;
          const nombreProvincia = this.options[this.selectedIndex].text;
          document.getElementById('nombreProvincia').value = nombreProvincia;
          fetch(`https://apis.datos.gob.ar/georef/api/municipios?provincia=${provinciaSeleccionada}&campos=id,nombre&max=5000`)
          .then(response => response.json())
          .then(data => {
            console.log('Datos de localidades:', data);
            const localidades = data.municipios;
            const selectLocalidad = document.getElementById('localidad');
            selectLocalidad.innerHTML = '';
            localidades.forEach(localidad => {
              const option = document.createElement('option');
              option.value = localidad.id;
              option.text = localidad.nombre;
              selectLocalidad.appendChild(option);
            });
            if ("<%= usuario.localidad %>" !== "") {
              selectLocalidad.value = "<%= usuario.localidad %>";
              // Establecer el campo oculto del nombre de la localidad
              document.getElementById('nombreLocalidad').value = selectLocalidad.options[selectLocalidad.selectedIndex].text;
            }
            selectLocalidad.addEventListener('change', function() {
              const nombreLocalidad = this.options[this.selectedIndex].text;
              document.getElementById('nombreLocalidad').value = nombreLocalidad;
            });
          });
        });
        selectProvincia.dispatchEvent(new Event('change'));
      });
    </script>
    <script src="/js/profile.js"></script>
      <%- include ./layouts/footer.ejs %>
  </body>
 
