<%- include ./layouts/head.ejs %>
<%- include ./layouts/header.ejs %>
<html>
<body>
<main>
    <h1>Proveedores</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Descuentos</th>
            <th>Acciones</th>
        </tr>
        <% for(let proveedor of proveedores) { %>
            <tr>
                <td><%= proveedor.id %></td>
                <td><%= proveedor.nombre %></td>
                <td><%= proveedor.descuento %></td>
                <td>
                    <a href="/proveedores/editar/<%= proveedor.id %>" class="btn btn-primary">Editar</a>
                    <a href="/proveedores/eliminar/<%= proveedor.id %>" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        <% } %>
    </table>
</main>
    <%- include ./layouts/footer.ejs %>
</body>
</html>

 