<%- include ./layouts/head.ejs %>
<%- include ./layouts/header.ejs %>

<body>
  <main>
    <h2 class="titulo-principal" id="titulo-principal">
      Todos los productos
    </h2>
    <div class="buscador">
      <input type="text" id="entradaBusqueda" placeholder="Buscar productos...">
    </div>

    <div id="contenedor-productos" class="contenedor-productos">

      <% 
      
      let productosAMostrar = productos;
    
      
      productosAMostrar.forEach(producto => { %>
        <a href="productos/detalleProducto/<%= producto._id %>" class="enlace-detalle">
        <div class="card">
          <div class="cover__card">
            <img src="../../images/<%=producto.imagen%>" alt="Imagen de <%= producto.nombre %>">
          </div>
          <div class="titulo-producto">
            <h3 class="nombre"><%= producto.nombre %></h3>
          </div>
          <hr>
          <div class="categoria-producto">
            <h3 class="categoria"><%= producto.categoria %></h3>
          </div>
          <hr>
          <div class="precio-producto">
            <p class="precio">$<%= producto.precio %></p>
          </div>
        </div>
        </a>
      
    </div>
<% }); %>
  </main>
<%- include ./layouts/footer.ejs %>
<script src="js/buscador.js"></script>
</body>